// /**
//  * Button
//  */


.btn-secondary {
  background-color: $secondary;
  color: $light;
}

.btn-primary {
  background-color: $primary;
  color: $light;
}

.gform_button {
  @extend .btn;
  @extend .btn-primary;
  color: $white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 2rem;
}

.gform_validation_errors,
.validation_message {
  display: none;
}