.inner-slide {
  em,strong,cite {
    display: block;
  }
  cite {
    font-size: $h1-font-size * 2;
    @include media-breakpoint-down(xl) {
      font-size: 70px;
    }
    font-style: normal;
    font-weight: 700;
    font-family: "PT Serif";
  }
  strong {
    font-weight: 400;
    font-family: "PT Serif";
    color: $brand-3;
    font-size: $h2-font-size;
    @include media-breakpoint-down(xl) {
      font-size: $h3-font-size;
    }
  }
  em {
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    font-size: $h1-font-size * 1.25;
    @include media-breakpoint-down(xl) {
      font-size: 50px;
    }
    font-family: "PT Serif";
  }
  .btn {
    border-radius: 2.222rem;
    color: $white;
  }
}