body.home {
  .site-header {
    background-image: url(../images/forest.background_header.torn.png);
    height: 74vh;

    .header-inner{
      @include media-breakpoint-up(lg) {
        background-image: url(../images/header.bear.cutout.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position-x: left;
        background-position-y: center;
      }
      height: 100%;
    }
  }
}